 *{box-sizing: border-box; margin: 0px; padding: 0px;}
@font-face {font-family: BebasNeue-Bold; src: url(../fonts/BebasNeue-Bold.otf);}
@font-face {font-family: Roboto-Light; src: url(../fonts/Roboto-Light.ttf);}
@font-face {font-family: Roboto-Medium; src: url(../fonts/Roboto-Medium.ttf);}
@font-face {font-family: Roboto-Regular; src: url(../fonts/Roboto-Regular.ttf);}
h1,h2,p,a{margin-bottom: 0.6em;}
h1{font-family: BebasNeue-Bold; font-size: 2.6em;}
main{font-family: Roboto-Regular; font-size: 13px; min-height: 100%; color: #38333a;}
img{width: 100%;}
p{text-align: justify; margin: 0.5em 0em;}

.color1{color: #eab021;}
.colorBg1{background-color: #eab021;}
.color2{color: #38333a;}
.colorBg2{background-color: #38333a;}
.color3{color: #50515b;}
.colorBg3{background-color: #50515b;}
.color4{color: #ffffff;}
.colorBg4{background-color: #ffffff;}

.uppercase{text-transform: uppercase;}
.capitalize{text-transform: capitalize;}
.bold{font-weight: bold;}

.lable{display: block; color: white; font-weight: bold; font-family: Roboto-Medium;}

.header{font-family: BebasNeue-Bold; color: #eab021;}
.sub-header{font-family: Roboto-Medium; color: #38333a;}
.paragraph{font-family: Roboto-Light; color: #38333a;}
.link{font-family: Roboto-Regular; color: #eab021; cursor: pointer;}
