*{box-sizing: border-box; margin: 0px; padding: 0px;}
@font-face {font-family: BebasNeue-Bold; src: url(../fonts/BebasNeue-Bold.otf);}
@font-face {font-family: Roboto-Light; src: url(../fonts/Roboto-Light.ttf);}
@font-face {font-family: Roboto-Medium; src: url(../fonts/Roboto-Medium.ttf);}
@font-face {font-family: Roboto-Regular; src: url(../fonts/Roboto-Regular.ttf);}
h1,h2,p,a{margin-bottom: 0.6em;}
h1{font-family: BebasNeue-Bold; font-size: 2.6em;}
main{font-family: Roboto-Regular; font-size: 13px; min-height: 100%; color: #38333a;}
img{width: 100%;}
nav img{width: 60%;}
p{text-align: justify; margin: 0.5em 0em;}

.color1{color: #eab021;}
.colorBg1{background-color: #eab021;}
.color2{color: #38333a;}
.colorBg2{background-color: #38333a;}
.color3{color: #50515b;}
.colorBg3{background-color: #50515b;}
.color4{color: #ffffff;}
.colorBg4{background-color: #ffffff;}

.uppercase{text-transform: uppercase;}
.capitalize{text-transform: capitalize;}
.bold{font-weight: bold;}

.lable{display: block; color: white; font-weight: bold; font-family: Roboto-Medium;}

.header{font-family: BebasNeue-Bold; color: #eab021;}
.sub-header{font-family: Roboto-Medium; color: #38333a;}
.paragraph{font-family: Roboto-Light; color: #38333a;}
.link{font-family: Roboto-Regular; color: #eab021; cursor: pointer;}

button{
    border: none;
    background: url(../images/defaultbtn.png) no-repeat;
    background-size: 100%;
    background-size: 200px 75px;
    width: 160px;
    height: 60px;
    font-size: 1.2em;
    cursor: pointer;
    margin: 0.5em 0.2em;
}

button.default{
    background: url(../images/defaultbtn.png) no-repeat;
    background-size: 100%;
    background-size: 160px 60px;
}

button.default.hover{
    background: url(../images/defaultbtn_hover.png) no-repeat;
    background-size: 100%;
    background-size: 160px 60px;
}

button.primary{
    background: url(../images/primarybtn.png) no-repeat;
    background-size: 100%;
    background-size: 160px 60px;
}

button.primary.hover{
    background: url(../images/primarybtn_hover.png) no-repeat;
    background-size: 100%;
    background-size: 160px 60px;
}
.colorpaletteitem{
    width: 70px;
    height: 70px;
    padding-top: 30px;
    text-align: center;
    color: #ffffff;
}
.colorpaletteitem.white{
    color: #38333a;
}

.stage{
    position: relative;
    top: 0;
    left: 0;
    width: 1055px;
    margin: 0 auto;
    height: 1000px;
}
.layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.bg>img{
    width: 100%;
    height: 100%;
}
.halfTransparentLayer>div{
    width: 50%;
    height: 100%;
    opacity: 0.55;
}
.contentBg>div{
    margin: 10% 4% 4% 4%;
    width: 92%;
    height: 86%;
    opacity: 0.9;
}
.content>div{
    margin: 10% 4% 4% 4%;
    width: 92%;
    height: 86%;
}
.mainContent{
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: repeat(auto-fill, 49%);
}
.mainContent>div.left>div.logo>div{
    margin: 0 7em;
    height: auto;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fill, 42%);
}
.mainContent>div.left, .mainContent>div.right{
    padding: 2em;
}
.mainContent>div.left>div.font>div>div{
    margin-bottom: 2.5em;
}
.mainContent>div.left>div.icon>div img{
    width: 30%;
    display: block;
    margin: 0 auto;
}
.mainContent>div.right>div.menu>nav{
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: repeat(auto-fill, 18%);
}
.mainContent>div.right>div.colorplate>div{
    display: grid;
    grid-gap: 1.5em;
    grid-template-columns: repeat(auto-fill, 16%);
}
.mainContent>div.right>div.menu>nav a{
    font-family: BebasNeue-Bold;
    font-size: 1.2em;
    line-height: 2.5em;
    text-decoration: none;
    color: #38333a;
    text-align: center;
}
.mainContent>div.right>div.menu>nav a.active span{
    border-top: 0.15em solid #eab021;
}
.mainContent>div.right>div.texture>div{
    margin: 0 4em;
    height: auto;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fill, 42%);
}
.styleTileTile h1{
    margin-top: 4%;
    margin-left: 5%;
}
.carouselNav>ul{
    padding: 42.5% 49.5%;
}
.carouselNav>ul>li{
    list-style: none;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin-top: 1.5em;
    border: 1px solid black;
}
.carouselNav>ul>li.active{
    background-color: black;
}
.styleTileContentType{text-transform: uppercase; text-align: center; margin: 2em 0em 1em 0em;}
